table {
    background-color: #ffffff; 
}
 
th {
    background-color: #dda0dd; 
}

th {
    width:  250px;             
    height: 50px;             
}

td {
    width:  250px;           
    height: 30px;               
}
